@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css');
@import url('owl.carousel.css');
@import url('owl.carousel.min.css');
@import url('owl.theme.default.min.css');
header{height: 70px;box-shadow:1px 3px 5px #777;position:fixed;width: 100%;background:#fff;z-index: 999999;}
header * .container{font-family: 'Raleway', sans-serif;}
body * .container{max-width: 1336px;font-family: 'Poppins', sans-serif;}

header ul li a{color:#002447;opacity:1;font-size:14px;text-transform: uppercase;font-weight: 600;}
.navbar-light .navbar-toggler{border:0px;}
.navbar-light .navbar-brand{padding:0px;}
header ul li:last-of-type a{border:2px solid #002447;padding:7.5px 30px;text-transform: capitalize;border-radius:3px;}
header .navbar-nav{margin-left:auto;display: flex;justify-content:space-between;align-items: center;width: 55%;}

header form{position: relative;margin-right:15px;width: auto;}
header form input{font-family:'Raleway',sans-serif;font-size: 14px;color:#333;text-transform: capitalize;border:1px solid #ccc;height: 35px;padding-left: 10px;background:transparent;}
header form button{position: absolute;right: 5px;top:50%;transform: translateY(-50%);padding:0px;border:0px;background:transparent;}
header form button i{color:#333;font-size:16px;}

header button{border:0px solid #ccc;background:transparent;margin:0 1.5px;}
header button i.fa-sun{color:goldenrod;font-size:16px;}
header button i.fa-moon{color:darkgray;font-size:16px;}


#home{overflow: hidden;}
#home #mainbanner{margin-top:70px;}
#home #mainbanner .carousel-caption{background:rgba(0,0,0,0.5);}
#home #mainbanner .container-fluid .row img{width: 100%;max-height:500px;object-fit: cover;}
#home #mainbanner .text{display: flex;flex-direction:column;justify-content: center;align-items: center;}
#home #mainbanner .carousel-caption p{color: #fff;font-size:25px;font-family: 'Raleway', sans-serif;margin-bottom:.5rem;text-transform: capitalize;}
#home #mainbanner .carousel-caption h5{color: #fff;font-size:50px;font-family: 'Poppins', sans-serif;word-break:break-all;}
#home #mainbanner .carousel-indicators li{width:15px;height: 15px;margin:0 10px;border-radius: 100%;}



#home #whyentact{position: relative;padding:50px 0;} 
#home #whyentact .heading h1{font-family:'Poppins',sans-serif;font-size:50px;color:#333;text-transform: capitalize;margin-bottom: 1.5rem;text-align: center;}
#home #whyentact .reasons{margin-bottom: 50px;text-align: center;  animation-name:reason;animation-duration:1s;}
#home #whyentact .reasons img{max-height: 450px;object-fit: contain;opacity:1;}
@keyframes reason {
    from { 
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#home #whyentact .reasons .inner{position: absolute;top:0;left:0;right:0;margin:0 auto;background:rgba(0,0,0,0.6);height: 100%;width: 100%;max-width:89%;display:none;flex-direction:column;justify-content:flex-end;bottom:5%;align-items:center;}
#home #whyentact .reasons:hover .inner{display: flex;animation-name:reason;animation-duration: 2s;}
#home #whyentact .reasons strong{font-family:'Poppins',sans-serif;font-size: 22px;font-weight:bold;color:#fff;text-transform: capitalize;display: block;margin:15px auto 15px;font-weight: normal;}
#home #whyentact .reasons a{font-family:'Raleway',sans-serif;font-size:16px;color:#fff;text-decoration: none;border-radius:3px;background:#000;width:45%;display: block;margin:10px auto 10px;padding:6px;}


#home #featuredbooks .heading h1{font-family:'Poppins',sans-serif;font-size:50px;color:#333;text-transform: capitalize;margin-bottom: 1.5rem;text-align: center;}
#home #featuredbooks ul{padding-top:50px!important;}
#home #featuredbooks ul li{list-style-type: none;}
#home #featuredbooks ul li img{width: 100%;margin-bottom: 5px;height:270px;object-fit:fill;}
#home #featuredbooks ul li p{color:#777;font-size: 16px;font-family: 'Poppins',sans-serif;text-transform: capitalize;margin-bottom:5px;line-height: normal;text-align:center;}
#home #featuredbooks ul li b{color:#999;font-size: 15px;font-family: 'Poppins',sans-serif;text-transform: capitalize;margin-bottom:5px;line-height: normal;display: block;text-align:center;}
#home #featuredbooks ul li a{color:#fff;font-size: 16px;font-family: 'Poppins',sans-serif;text-transform: capitalize;margin-bottom:5px;line-height: normal;display: block;background:#000;height: 30px;text-align:center;line-height:30px;width: 100%;border-radius:2px;text-decoration: none;}
#home #featuredbooks ul li a i{color:#fff;padding-right:10px;}
#home #featuredbooks ul .owl-nav .owl-prev{position: absolute;left:0;top: 0;width:40px;height:30px;background:#333;color:#fff;text-align:center;line-height: 30px;}
#home #featuredbooks ul .owl-nav .owl-next{position: absolute;right:0;top: 0;width:40px;height:30px;background:#333;color:#fff;text-align:center;line-height: 30px;}



#ourteam{padding-top:70px;}
#team {
    overflow: hidden;
    height: 100%;
    font-family: 'Poppins',sans-serif;
    background-color: #282828;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232f2f2f' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  
  .containerr {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
  }
  
  .header {
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
    overflow: hidden;
    transition: 0.45s ease 0.05s;
    max-height: 70px;
  }
  .header-title {
    width: 100%;

    font-size: 3.3em;
    color: #fbf9bd;
    margin-bottom: 15px;
  }
  
  .team-container {
    padding: 0 30px;
    box-sizing: border-box;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  
  .person {
    width: calc(25% - 30px);
    cursor: pointer;
    overflow: hidden;
    transition: 0.45s;
    position: relative;
  }
  .person-details {
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: -15px;
    transition: 0.3s;
  }
  .person-img {
    width: 100%;
  }
  .person-title {
    color: #fff;
    font-size: 2em;
  }
  .person-desc {
    color: rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
  }
  .person-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .person-list:hover .person {
    opacity: 0.6;
  }
  .person:hover {
    opacity: 1 !important;
  }
  .person:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #080808;
    content: "";
    height: 0px;
    transition: 0.45s;
  }
  .person:after {
    content: "\f2ca";
    font-family: "Ionicons";
    font-size: 36px;
    color: #282828;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    left: 0;
    flex-direction: column;
  }
  
  .container-selected .header {
    max-height: 0px;
  }
  .container-selected .person {
    opacity: 0 !important;
    pointer-events: none;
  }
  .container-selected .person-list .person-selected {
    opacity: 1 !important;
  }
  .container-selected .person-list .person-selected:before {
    height: 100%;
  }
  .container-selected .person-list .person-selected .person-details {
    margin-top: -40px;
    opacity: 0;
  }
  
  .team-detail {
    position: absolute;
    width: calc(100% - 100px);
    right: 80px;
    top: 0;
    height: 100%;
    color: #fff;
    transition: 0.15s;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
  }
  .team-detail-bio-content p {
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 1.05em;
  }
  .team-detail-header {
    margin-bottom: 30px;
  }
  .team-detail-inner {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .team-detail-left {
    position: relative;
    width: 650px;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .team-detail-left:before {
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(40, 40, 40, 0.8);
    position: absolute;
    right: 0;
    top: 0;
  }
  .team-detail-left:after {
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(to right, rgba(40, 40, 40, 0) 9%, rgba(40, 40, 40, 0) 10%, rgba(40, 40, 40, 0) 38%, #282828 92%, #282828 100%);
    position: absolute;
    right: 0;
    top: 0;
  }
  .team-detail-photo {
    position: relative;
    text-align: center;
    z-index: 999;
    width: 100%;
    font-size: 0px;
  }
  .team-detail-photo img {
    max-width: 100%;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.3);
  }
  .team-detail-right {
    box-sizing: border-box;
    width: calc(100% - 650px);
    min-height: 100%;
    display: flex;
    align-items: center;
    padding-right: 10%;
    position: relative;
    right: 0;
    flex-wrap: wrap;
  }
  .team-detail-right .person-title {
    font-family:'Raleway',sans-serif;
    font-size: 2.2em;
  }
  
  .container-ready .team-detail {
    transition: 0.45s ease 0.3s;
    opacity: 1;
    right: 0;
    visibility: visible;
  }
  .container-ready .team-detail img {
    width: 75%;
  }
  .container-ready .team-container {
    height: 0px;
    overflow: hidden;
  }
  .container-ready .person-selected {
    left: 0px !important;
    top: 0px !important;
    z-index: 99;
    height: 100% !important;
    width: 100px !important;
    pointer-events: auto;
  }
  .container-ready .person-selected:after {
    opacity: 1;
    visibility: visible;
  }
  
  .person-back:before {
    height: 0px !important;
  }
  .person-back .person-details {
    margin-top: -15px !important;
    transition-delay: 0.35s;
    opacity: 1 !important;
  }
  
  .social {
    margin-top: 15px;
  }
  .social a {
    color: #fbf9bd;
    font-size: 20px;
    margin-right: 8px;
  }
  .social a:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 1200px) {
    .team-detail-left {
      width: 400px;
      padding: 0 40px;
      box-sizing: border-box;
    }
  
    .team-detail-right {
      padding-right: 0;
      width: calc(100% - 440px);
    }
  
    .person .person-title {
      font-size: 1.7em;
    }
  
    .person-details {
      padding: 0 10px;
    }
  }
  @media (max-width: 970px) {
    .team-detail-left {
      width: 100%;
      padding: 50px 50px 30px 50px;
    }
    .team-detail-left:after {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #212121 83%, #282828 100%);
    }
  
    .team-detail-right {
      padding: 0 50px;
      width: 100%;
    }
  
    .team-detail-header {
      text-align: center;
    }
  
    .container-ready .person-selected {
      width: 50px !important;
    }
  
    .team-detail {
      width: calc(100% - 50px);
    }
  
    .person {
      width: calc(50% - 20px);
    }
  }
  @media (max-width: 480px) {
    .person {
      width: 100%;
      margin-bottom: 50px;
    }
  
    .header {
      margin-top: 50px;
    }
  }
  






footer #innerfooter{background:#ccc;padding:40px 0 40px;}
footer #innerfooter .first a{display: block;font-family:'Raleway',sans-serif;font-size:14px;color:#000;margin-bottom: 20px;line-height: normal;text-decoration: none;text-transform: capitalize;font-weight: 700;}
footer #innerfooter .first span{display: flex;justify-content: space-between;align-items: center;}
footer #innerfooter .first p{display: block;font-family:'Raleway',sans-serif;font-size:14px;color:#000;margin-bottom: 20px;line-height: normal;font-weight: 700;}
footer #copyright{background:black;padding:15px 0;}
footer #copyright .drop{display: flex;justify-content: center;align-items: center;}
footer #copyright select{background:transparent!important;border:2px solid #88C8E3;font-family:Arial, Helvetica, sans-serif;font-size: 10px;text-transform: uppercase;color:#fff;padding:10px 20px;border-radius:5px;}
footer #copyright select option{font-family:Arial, Helvetica, sans-serif;font-size: 10px;text-transform: uppercase;color:#fff;}
footer #copyright p{font-family:'Raleway',sans-serif;font-size:12px;color:#fff;text-transform: capitalize;margin-bottom:10px;}
footer #copyright a{font-family:'Raleway',sans-serif;font-size:12px;color:#88C8E3;text-transform: capitalize;text-decoration: none;}


@media(max-width:991px)
{
.navbar{padding:0px;}
#navbarTogglerDemo02{background:#fff;box-shadow:0px 0px 4px #777;z-index: 9999999;}
header .navbar-nav{display: block;padding: 15px;width: 100%;}
header ul li:last-of-type a{border:0px;}
#home * h1{font-size:40px!important;}
#home #iama .heading h1{margin:45px 0;}
#home #ongoingevents .heading h1{margin: 45px 0;}
#home #whyentact .heading p{width: 100%;}
}
@media(max-width:767px)
{
    #home * h1{font-size:35px!important;}
    #home #mainbanner .image{margin-top:20px;}
    #home #iama .heading h1{margin:35px 0;}
    #home #ongoingevents .heading h1{margin:35px 0;}
}
@media(max-width:575px)
{
    #home * h1{font-size:30px!important;}
    #home #iama .heading h1{margin:25px 0;}
    #home #ongoingevents .heading h1{margin:25px 0;}
    footer #innerfooter .first{margin-bottom:20px;}
    footer #copyright{text-align: center;}
    footer #copyright select{margin-bottom:20px;}
}