@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css');
@import url('owl.carousel.css');
@import url('owl.carousel.min.css');
@import url('owl.theme.default.min.css');
header{height: 70px;position:fixed;width: 100%;background:#fff;z-index: 999999;}
header * .container{font-family: 'Raleway', sans-serif;}
body * .container{max-width: 1336px;font-family: 'Poppins', sans-serif;}

header ul li a{color:#002447;opacity:1;font-size:14px;text-transform: uppercase;font-weight: 600;}
.navbar-light .navbar-toggler{border:0px;}
.navbar-light .navbar-brand{padding:0px;}
header ul li:last-of-type a{border:2px solid #002447;padding:7.5px 30px;text-transform: capitalize;border-radius:3px;}
header .navbar-nav{margin-left:auto;display: flex;justify-content:space-between;align-items: center;width: 55%;}

header form{position: relative;margin-right:15px;width: auto;}
header form input{font-family:'Raleway',sans-serif;font-size: 14px;color:#333;text-transform: capitalize;border:1px solid #ccc;height: 35px;padding-left: 10px;background:transparent;}
header form button{position: absolute;right: 5px;top:50%;transform: translateY(-50%);padding:0px;border:0px;background:transparent;}
header form button i{color:#333;font-size:16px;}

header button{border:0px solid #ccc;background:transparent;margin:0 1.5px;}
header button i.fa-sun{color:goldenrod;font-size:16px;}
header button i.fa-moon{color:darkgray;font-size:16px;}


#home{overflow: hidden;}
#home #mainbanner{margin-top:70px;}
#home #mainbanner .carousel-caption{background:rgba(0,0,0,0.5);}
#home #mainbanner .container-fluid .row img{width: 100%;max-height:500px;object-fit: cover;}
#home #mainbanner .text{display: flex;flex-direction:column;justify-content: center;align-items: center;}
#home #mainbanner .carousel-caption p{color: #fff;font-size:25px;font-family: 'Raleway', sans-serif;margin-bottom:.5rem;text-transform: capitalize;}
#home #mainbanner .carousel-caption h5{color: #fff;font-size:50px;font-family: 'Poppins', sans-serif;word-break:break-all;}
#home #mainbanner .carousel-indicators li{width:15px;height: 15px;margin:0 10px;border-radius: 100%;}



#home #whyentact{position: relative;padding:50px 0;} 
#home #whyentact .heading h1{font-family:'Poppins',sans-serif;font-size:50px;color:#333;text-transform: capitalize;margin-bottom: 1.5rem;text-align: center;}
#home #whyentact .reasons{margin-bottom: 50px;text-align: center;  animation-name:reason;animation-duration:1s;}
#home #whyentact .reasons img{max-height: 450px;object-fit: contain;opacity:1;}
@keyframes reason {
    from { 
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#home #whyentact .reasons .inner{position: absolute;top:0;left:0;right:0;margin:0 auto;background:rgba(0,0,0,0.6);height: 100%;width: 100%;max-width:89%;display:none;flex-direction:column;justify-content:flex-end;bottom:5%;align-items:center;}
#home #whyentact .reasons:hover .inner{display: flex;animation-name:reason;animation-duration: 2s;}
#home #whyentact .reasons strong{font-family:'Poppins',sans-serif;font-size: 22px;font-weight:bold;color:#fff;text-transform: capitalize;display: block;margin:15px auto 15px;font-weight: normal;}
#home #whyentact .reasons a{font-family:'Raleway',sans-serif;font-size:16px;color:#fff;text-decoration: none;border-radius:3px;background:#000;width:45%;display: block;margin:10px auto 10px;padding:6px;}


#home #featuredbooks .heading h1{font-family:'Poppins',sans-serif;font-size:50px;color:#333;text-transform: capitalize;margin-bottom: 1.5rem;text-align: center;}
#home #featuredbooks ul{padding-top:50px!important;}
#home #featuredbooks ul li{list-style-type: none;}
#home #featuredbooks ul li img{width: 100%;margin-bottom: 5px;height:270px;object-fit:fill;}
#home #featuredbooks ul li p{color:#777;font-size: 16px;font-family: 'Poppins',sans-serif;text-transform: capitalize;margin-bottom:5px;line-height: normal;text-align:center;}
#home #featuredbooks ul li b{color:#999;font-size: 15px;font-family: 'Poppins',sans-serif;text-transform: capitalize;margin-bottom:5px;line-height: normal;display: block;text-align:center;}
#home #featuredbooks ul li a{color:#fff;font-size: 16px;font-family: 'Poppins',sans-serif;text-transform: capitalize;margin-bottom:5px;line-height: normal;display: block;background:#000;height: 30px;text-align:center;line-height:30px;width: 100%;border-radius:2px;text-decoration: none;}
#home #featuredbooks ul li a i{color:#fff;padding-right:10px;}
#home #featuredbooks ul .owl-nav .owl-prev{position: absolute;left:0;top: 0;width:40px;height:30px;background:#333;color:#fff;text-align:center;line-height: 30px;}
#home #featuredbooks ul .owl-nav .owl-next{position: absolute;right:0;top: 0;width:40px;height:30px;background:#333;color:#fff;text-align:center;line-height: 30px;}



#ourteam{padding-top:70px;}
#team {
    overflow-x: hidden;
    font-family: 'Poppins',sans-serif;
    background-color: #282828;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232f2f2f' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  
  .containerr {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
  }
  
  .header {
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
    overflow: hidden;
    transition: 0.45s ease 0.05s;
    max-height: 70px;
  }
  .header-title {
    width: 100%;

    font-size: 3.3em;
    color: #fbf9bd;
    margin-bottom: 15px;
  }
  
  .team-container {
    padding: 0 30px;
    box-sizing: border-box;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  
  .person {
    width: calc(25% - 30px);
    cursor: pointer;
    overflow: hidden;
    transition: 0.45s;
    position: relative;
  }
  .person-details {
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: -15px;
    transition: 0.3s;
  }
  .person-img {
    width: 100%;
  }
  .person-title {
    color: #fff;
    font-size: 2em;
  }
  .person-desc {
    color: rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
  }
  .person-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .person-list:hover .person {
    opacity: 0.6;
  }
  .person:hover {
    opacity: 1 !important;
  }
  .person:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #080808;
    content: "";
    height: 0px;
    transition: 0.45s;
  }
  .person:after {
    content: "\f2ca";
    font-family: "Ionicons";
    font-size: 36px;
    color: #282828;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    left: 0;
    flex-direction: column;
  }
  
  .container-selected .header {
    max-height: 0px;
  }
  .container-selected .person {
    opacity: 0 !important;
    pointer-events: none;
  }
  .container-selected .person-list .person-selected {
    opacity: 1 !important;
  }
  .container-selected .person-list .person-selected:before {
    height: 100%;
  }
  .container-selected .person-list .person-selected .person-details {
    margin-top: -40px;
    opacity: 0;
  }
  
  .team-detail {
    position: absolute;
    width: calc(100% - 100px);
    right: 80px;
    top: 0;
    height: 100%;
    color: #fff;
    transition: 0.15s;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
  }
  .team-detail-bio-content p {
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 1.05em;
  }
  .team-detail-header {
    margin-bottom: 30px;
  }
  .team-detail-inner {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .team-detail-left {
    position: relative;
    width: 650px;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .team-detail-left:before {
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(40, 40, 40, 0.8);
    position: absolute;
    right: 0;
    top: 0;
  }
  .team-detail-left:after {
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(to right, rgba(40, 40, 40, 0) 9%, rgba(40, 40, 40, 0) 10%, rgba(40, 40, 40, 0) 38%, #282828 92%, #282828 100%);
    position: absolute;
    right: 0;
    top: 0;
  }
  .team-detail-photo {
    position: relative;
    text-align: center;
    z-index: 999;
    width: 100%;
    font-size: 0px;
  }
  .team-detail-photo img {
    max-width: 100%;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.3);
  }
  .team-detail-right {
    box-sizing: border-box;
    width: calc(100% - 650px);
    min-height: 100%;
    display: flex;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    position: relative;
    right: 0;
    flex-wrap: wrap;
  }
  .team-detail-right .person-title {
    font-family:'Raleway',sans-serif;
    font-size: 2.2em;
  }
  
  .container-ready .team-detail {
    transition: 0.45s ease 0.3s;
    opacity: 1;
    right: 0;
    visibility: visible;
  }
  .container-ready .team-detail img {
    width: 75%;
  }
  .container-ready .team-container {
    height: 0px;
    overflow: hidden;
  }
  .container-ready .person-selected {
    left: 0px !important;
    top: 0px !important;
    z-index: 99;
    height: 100% !important;
    width: 100px !important;
    pointer-events: auto;
  }
  .container-ready .person-selected:after {
    opacity: 1;
    visibility: visible;
  }
  
  .person-back:before {
    height: 0px !important;
  }
  .person-back .person-details {
    margin-top: -15px !important;
    transition-delay: 0.35s;
    opacity: 1 !important;
  }
  
  .social {
    margin-top: 15px;
  }
  .social a {
    color: #fbf9bd;
    font-size: 20px;
    margin-right: 8px;
  }
  .social a:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 1200px) {
    .team-detail-left {
      width: 400px;
      padding: 0 40px;
      box-sizing: border-box;
    }
  
    .team-detail-right {
      padding-right: 0;
      width: calc(100% - 440px);
    }
  
    .person .person-title {
      font-size: 1.7em;
    }
  
    .person-details {
      padding: 0 10px;
    }
  }
  @media (max-width: 970px) {
    .team-detail-left {
      width: 100%;
      padding: 50px 50px 30px 50px;
    }
    .team-detail-left:after {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #212121 83%, #282828 100%);
    }
  
    .team-detail-right {
      padding: 0 50px;
      width: 100%;
    }
  
    .team-detail-header {
      text-align: center;
    }
  
    .container-ready .person-selected {
      width: 50px !important;
    }
  
    .team-detail {
      width: calc(100% - 50px);
    }
  
    .person {
      width: calc(50% - 20px);
    }
  }
  @media (max-width: 480px) {
    .person {
      width: 100%;
      margin-bottom: 50px;
    }
  
    .header {
      margin-top: 50px;
    }
  }
  

/****** CATEGORY PAGE *****/
#category{overflow: hidden;padding-top: 70px;}

:root {
  --columns: 3;
}
#category form{padding:30px 15px 0;}
#category form label{color:#999;font-family: 'Poppins',sans-serif;font-size: 16px;}
#category form select{border:1px solid #333;border-radius:2px;background:transparent;}
#category form select option{color:#ccc;}
#category form button{background: #000;border-radius: 0px;color:#fff;margin: 10px auto;display: block;padding:7.5px 30px;border:1px solid #444;}
#category {
  background-color: #fff;
}

#category ul {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin: 150px -40px;
}

#category ul li {
  grid-column-end: span 2;
  justify-self: center;
  width: 71%;
  list-style-type: none;
  padding-bottom: 71%;
  transform: rotatez(45deg);
  margin-top: -21%;
}

#category ul li::before,
#category ul li::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
}

#category ul li::before {
  z-index: -10;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 20% 20%, 20% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 20% 20%, 20% 100%, 0 100%);
}
#category ul li::after {
  z-index: 10;
  clip-path: polygon(80% 20%, 100% 0, 100% 100%, 0% 100%, 20% 80%, 80% 80%);
  -webkit-clip-path: polygon(
    80% 20%,
    100% 0,
    100% 100%,
    0% 100%,
    20% 80%,
    80% 80%
  );
}

#category ul li:nth-child(2n) {
  grid-column-start: 2;
}

#category ul li {
  background-color: #fff;
}
#category ul li::before {
  background-color: #242424;
  background: conic-gradient(#cac0c0 25%, #888888 0 50%, #cac0c0 0) 100% 100% /180% 180%;
}
#category ul li::after {
  background-color: #242424;
  background: conic-gradient(#cac0c0 75%, #242424 0) 0 0 /180% 180%;
}
/*
#category ul li:nth-child(2n) {
  background-color: #222;
}
#category ul li:nth-child(2n)::before {
  background-color: #242424;
  background: conic-gradient(#222 25%, #242424 0 50%, #222 0) 100% 100% /180%
    180%;
}
#category ul li:nth-child(2n)::after {
  background-color: #242424;
  background: conic-gradient(#222 75%, #242424 0) 0 0 /180% 180%;
}

#category ul li:nth-child(5n) {
  background-color: #242424;
}
#category ul li:nth-child(5n)::before {
  background-color: #222;
  background: conic-gradient(#242424 25%, #222 0 50%, #242424 0) 100% 100% /180%
    180%;
}
#category ul li:nth-child(5n)::after {
  background-color: #222;
  background: conic-gradient(#242424 75%, #222 0) 0 0 /180% 180%;
}

#category ul li:nth-child(7n),
#category ul li:nth-child(7n-4) {
  background-color: #242424;
}
#category ul li:nth-child(7n)::before,
#category ul li:nth-child(7n-4)::before {
  background-color: #333;
  background: conic-gradient(#242424 25%, #333 0 50%, #242424 0) 100% 100% /180%
    180%;
}
#category ul li:nth-child(7n)::after,
#category ul li:nth-child(7n-4)::after {
  background-color: #333;
  background: conic-gradient(#242424 75%, #333 0) 0 0 /180% 180%;
}

#category ul li:nth-child(9n),
#category ul li:nth-child(9n-5) {
  background-color: #333;
}
#category ul li:nth-child(9n)::before,
#category ul li:nth-child(9n-5)::before {
  background-color: #242424;
  background: conic-gradient(#333 25%, #242424 0 50%, #333 0) 100% 100% /180%
    180%;
}
#category ul li:nth-child(9n)::after,
#category ul li:nth-child(9n-5)::after {
  background-color: #242424;
  background: conic-gradient(#333 75%, #242424 0) 0 0 /180% 180%;
}
**/
#category ul li img {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotatez(-45deg);
  padding-bottom: 15%;
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
  transition-property: transform;
  transition-duration: 0.3s;
}

#category ul li img:hover {
  transform: translateX(-60%) translateY(-60%) rotatez(-25deg);
}
@media (min-width: 450px) {
  #category ul {
    margin: 150px 40px;
  }
}
@media (min-width: 600px) {
  :root {
    --columns: 5;
  }
  #category ul  li:nth-child(2n) {
    grid-column-start: auto;
  }
  #category ul  li:nth-child(4n-1) {
    grid-column-start: 2;
  }
}
@media (min-width: 900px) {
  :root {
    --columns: 7;
  }
  #category ul  li:nth-child(4n-1) {
    grid-column-start: auto;
  }
  #category ul  li:nth-child(6n-2) {
    grid-column-start: 2;
  }
}
@media (min-width: 1200px) {
  :root {
    --columns: 9;
  }
  #category ul  li:nth-child(6n-2) {
    grid-column-start: auto;
  }
  #category ul  li:nth-child(8n-3) {
    grid-column-start: 2;
  }
}
@media (min-width: 1500px) {
  :root {
    --columns: 11;
  }
  #category ul  li:nth-child(8n-3) {
    grid-column-start: auto;
  }
  #category ul  li:nth-child(10n-4) {
    grid-column-start: 2;
  }
}
@media (min-width: 1800px) {
  :root {
    --columns: 13;
  }
  #category ul  li:nth-child(10n-4) {
    grid-column-start: auto;
  }
  #category ul  li:nth-child(12n-5) {
    grid-column-start: 2;
  }
}
@media (min-width: 2100px) {
  :root {
    --columns: 15;
  }
  #category ul  li:nth-child(12n-5) {
    grid-column-start: auto;
  }
  #category ul  li:nth-child(14n-6) {
    grid-column-start: 2;
  }
}



/***** CHECKOUT PAGE *****/

#viewcart{padding-top:70px;overflow-x: hidden;}
/*
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Poppins:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}
*/
ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}


img {
  max-width: 100%;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
}

.projTitle {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.projTitle span {
  font-family: "Poppins", serif;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: #777;
}

.heading {
  padding: 1em 0;
  border-bottom: 1px solid #D0D0D0;
}
.heading h1 {
  font-family: "Poppins", serif;
  font-size: 2em;
  float: left;
}
.heading a.continue:link, .heading a.continue:visited {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  letter-spacing: -.015em;
  font-size: .75em;
  padding: 1em;
  color: #fff;
  background: #002447;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.heading a.continue:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
  background: #000;
  color: #fff;
}
.heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
  right: -10px;
}

.tableHead {
  display: table;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: .75em;
}
.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}
.tableHead li.prodHeader {
  text-align: left;
}

.cart {
  padding: 1em 0;
}
.cart .items {
  display: block;
  width: 100%;
  vertical-align: middle;
  padding: 1.5em;
  border-bottom: 1px solid #fafafa;
}
.cart .items.even {
 
}
.cart .items .infoWrap {
  display: table;
  width: 100%;
}
.cart .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}
.cart .items .cartSection .itemNumber {
  font-size: .75em;
  color: #777;
  margin-bottom: .5em;
}
.cart .items .cartSection h3 {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .025em;
}
.cart .items .cartSection p {
  display: inline-block;
  font-size: .85em;
  color: #777777;
  font-family: "Poppins", sans-serif;
}
.cart .items .cartSection p .quantity {
  font-weight: bold;
  color: #333;
}
.cart .items .cartSection p.stockStatus {
  color: #82CA9C;
  font-weight: bold;
  padding: .5em 0 0 1em;
  text-transform: uppercase;
}
.cart .items .cartSection p.stockStatus.out {
  color: #F69679;
}
.cart .items .cartSection .itemImg {
  width: 4em;
  float: left;
}
.cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
  text-align: center;
}
.cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
  font-weight: bold;
  font-size: 1.25em;
}
.cart .items .cartSection input.qty {
  width: 2em;
  text-align: center;
  font-size: 1em;
  padding: .25em;
  margin: 1em .5em 0 0;
}
.cart .items .cartSection .itemImg {
  width: 8em;
  display: inline;
  padding-right: 1em;
}

.special {
  display: block;
  font-family: "Poppins", sans-serif;
}
.special .specialContent {
  padding: 1em 1em 0;
  display: block;
  margin-top: .5em;
  border-top: 1px solid #dadada;
}
.special .specialContent:before {
  content: "\21b3";
  font-size: 1.5em;
  margin-right: 1em;
  color: #6f6f6f;
  font-family: helvetica, arial, sans-serif;
}

a.remove {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: bold;
  background: #000;
  padding: .5em;
  font-size: .75em;
  display: inline-block;
  text-decoration: none;
  border-radius: 100%;
  line-height: .85;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
a.remove:hover {
  background: rgb(31, 9, 4);
}

.promoCode {
  border: 2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
}
.promoCode label {
  display: block;
  width: 100%;
  font-style: italic;
  font-size: 1.15em;
  margin-bottom: .5em;
  letter-spacing: -.025em;
}
.promoCode input {
  width: 85%;
  font-size: 1em;
  padding: .5em;
  float: left;
  border: 1px solid #dadada;
}
.promoCode input:active, .promoCode input:focus {
  outline: 0;
}
.promoCode a.btn {
  float: left;
  width: 15%;
  padding: .75em 0;
  border-radius: 0 1em 1em 0;
  text-align: center;
  border: 1px solid #002447;
}
.promoCode a.btn:hover {
  border: 1px solid #000;
  background: #002447;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  letter-spacing: -.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #fff;
  background: #002447;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.btn:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.btn:hover, .btn:focus, .btn:active {
  background: #000;
}
.btn:hover:after, .btn:focus:after, .btn:active:after {
  right: -10px;
}
.promoCode .btn {
  font-size: .85em;
  paddding: .5em 2em;
}

/* TOTAL AND CHECKOUT  */
.subtotal {
  float: right;
  width: 35%;
}
.subtotal .totalRow {
  padding: .5em;
  text-align: right;
}
.subtotal .totalRow.final {
  font-size: 1.25em;
  font-weight: bold;
}
.subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
}
.subtotal .totalRow .label {
  font-family: "Poppins", sans-serif;
  font-size: .85em;
  text-transform: uppercase;
  color: #777;
}
.subtotal .totalRow .value {
  letter-spacing: -.025em;
  width: 35%;
}

@media only screen and (max-width: 39.375em) {
  .wrap {
    width: 98%;
    padding: 2% 0;
  }

  .projTitle {
    font-size: 1.5em;
    padding: 10% 5%;
  }

  .heading {
    padding: 1em;
    font-size: 90%;
  }

  .cart .items .cartSection {
    width: 90%;
    display: block;
    float: left;
  }
  .cart .items .cartSection.qtyWrap {
    width: 10%;
    text-align: center;
    padding: .5em 0;
    float: right;
  }
  .cart .items .cartSection.qtyWrap:before {
    content: "QTY";
    display: block;
    font-family: "Poppins", sans-serif;
    padding: .25em;
    font-size: .75em;
  }
  .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
    display: none;
  }
  .cart .items .cartSection .itemImg {
    width: 25%;
  }

  .promoCode, .subtotal {
    width: 100%;
  }

  a.btn.continue {
    width: 100%;
    text-align: center;
  }
}

  

/***** CHECKOUT PAGE *****/

/*** DROPDOWNCART ***/



.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #002447;
}

.badge {
  background-color: #002447;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  margin: 10px 0 0 auto;
  float: right;
  display: none;
  box-shadow: 0px 2px 6px 0px #ccc;
  background: white;
  width: 350px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-price {
  color: #002447;
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #002447;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}
.button:hover {
  background: #729ef9;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*** DROPDOWNCART ***/



/************ PRODUCT PAGE ************/

#productpage{padding-top:100px;overflow-x: hidden;}
#productpage *{font-family: 'Raleway',sans-serif;} 
#productpage .mayalso a{display: block;}
#productpage .mayalso a img{width: 100%;}
#productpage .hotselling a{display: block;}
#productpage .hotselling a img{width: 100%;}
#productpage h5{
  background: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0px;
    line-height: 1.50rem;
}

#productpage strong{color:#002447;font-size:20px;display: block;margin-bottom: 10px;}
#productpage strong i{font-family: 'Font Awesome 5 Free'!important;}
#productpage label{color:#000;}
#productpage input{width: 40px;height: 40px;border:1px solid #333;}
#productpage p{color:#212121;}


/* Clip text element */
.clip-text {
  font-size:26px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display:block;
  text-transform: uppercase;
  margin: .05em 0;
  padding: .75rem 0;
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: '';
}

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
  position: absolute;
  z-index: -1;
  top: .125em;
  right: .125em;
  bottom: .125em;
  left: .125em;
  background-color: #000;
}

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
  background-position: -.75em 0;
}

.clip-text--no-textzone:after {
  content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.clip-text_thirteen {
  background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_bg.jpg");
}

.containers {
  margin: 0 auto;
  width: 780px;
  height: 640px;
  background: #F0F0ED;
  border-radius: 5px;
  position: relative;
}

.hero {
  height: 350px;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hero:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background: red;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_bg.jpg");
  z-index: -1;
  background-size:100% 100%;
  -webkit-transform: skewY(-2.2deg);
          transform: skewY(-2.2deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
}

.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
}

.details {
  padding: 150px 0 0 280px;
}
.details .title1 {
  color: white;
  font-size: 44px;
  margin-bottom: 13px;
  position: relative;
}
.details .title1 span {
  position: absolute;
  top: 3px;
  margin-left: 12px;
  background: #C4AF3D;
  border-radius: 5px;
  color: #544C21;
  font-size: 14px;
  padding: 0px 4px;
}
.details .title2 {
  color: #C7C1BA;
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 15px;
}
.details .likes {
  margin-left: 24px;
}
.details .likes:before {
  content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
  position: relative;
  top: 2px;
  padding-right: 7px;
}

.description {
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
}

.column1 {
  padding-left:0px;
  padding-top:70px;
  width: 220px;
  float: left;
  text-align: center;
}

.tag {
  background: #444;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  color: #fff;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag:hover {
  background: #000;
}

.column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 480px;
  float: left;
}
.column2 a#addtocart{
  background: #002447;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    max-width: 220px;
    margin: 25px 0 15px 0;
    text-transform: capitalize;
}
.column2 a#addtocart i{    font-family: 'Font Awesome 5 Free'!important;font-weight: 900;}
.column2 a#addtowish{
  background: #002447;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    max-width: 220px;
    margin: 25px 0 15px 0;
    text-transform: capitalize;
}
.column2 a#addtowish i{    font-family: 'Font Awesome 5 Free'!important;font-weight: 900;}

.avatars {
  margin-top: 23px;
}
.avatars img {
  cursor: pointer;
}
.avatars img:hover {
  opacity: 0.6;
}
.avatars a:hover {
  text-decoration: none;
}

fieldset, label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/
.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  margin-top: 0;
  font-size: 1em;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

a[data-tooltip] {
  position: relative;
}

a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}

a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}

a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/
/* top tooltip */
a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}

a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}


/************ PRODUCT PAGE ************/


footer #innerfooter{background:#ccc;padding:40px 0 40px;}
footer #innerfooter .first a{display: block;font-family:'Raleway',sans-serif;font-size:14px;color:#000;margin-bottom: 20px;line-height: normal;text-decoration: none;text-transform: capitalize;font-weight: 700;}
footer #innerfooter .first span{display: flex;justify-content: space-between;align-items: center;}
footer #innerfooter .first p{display: block;font-family:'Raleway',sans-serif;font-size:14px;color:#000;margin-bottom: 20px;line-height: normal;font-weight: 700;}
footer #copyright{background:black;padding:15px 0;}
footer #copyright .drop{display: flex;justify-content: center;align-items: center;}
footer #copyright select{background:transparent!important;border:2px solid #88C8E3;font-family:Arial, Helvetica, sans-serif;font-size: 10px;text-transform: uppercase;color:#fff;padding:10px 20px;border-radius:5px;}
footer #copyright select option{font-family:Arial, Helvetica, sans-serif;font-size: 10px;text-transform: uppercase;color:#fff;}
footer #copyright p{font-family:'Raleway',sans-serif;font-size:12px;color:#fff;text-transform: capitalize;margin-bottom:10px;}
footer #copyright a{font-family:'Raleway',sans-serif;font-size:12px;color:#88C8E3;text-transform: capitalize;text-decoration: none;}


@media(max-width:991px)
{
.navbar{padding:0px;}
#navbarTogglerDemo02{background:#fff;box-shadow:0px 0px 4px #777;z-index: 9999999;}
header .navbar-nav{display: block;padding: 15px;width: 100%;}
header ul li:last-of-type a{border:0px;}
#home * h1{font-size:40px!important;}
#home #iama .heading h1{margin:45px 0;}
#home #ongoingevents .heading h1{margin: 45px 0;}
#home #whyentact .heading p{width: 100%;}
#productpage .mayalso{order: 2;}
#productpage .hotselling{order: 3;}
#productpage .movie-card{order: 1;}
#productpage .mayalso a{display: inline-block;width: 30%;text-align:center;}
    #productpage .hotselling a{display: inline-block;width: 30%;text-align: center;}
}
@media(max-width:767px)
{
    #home * h1{font-size:35px!important;}
    #home #mainbanner .image{margin-top:20px;}
    #home #iama .heading h1{margin:35px 0;}
    #home #ongoingevents .heading h1{margin:35px 0;}
    #productpage .mayalso a{display: inline-block;width: 24%;}
    #productpage .hotselling a{display: inline-block;width: 24%;}
}
@media(max-width:575px)
{
    #home * h1{font-size:30px!important;}
    .navbar-light .navbar-brand{width: 100%;text-align: center;}
    header{height: 115px;}
    #ourteam{padding-top:115px;}
    #viewcart{padding-top:115px;}
    #productpage{padding-top: 125px;}
    #home #iama .heading h1{margin:25px 0;}
    #home #ongoingevents .heading h1{margin:25px 0;}
    #category{overflow: hidden;padding-top: 115px;}
    footer #innerfooter .first{margin-bottom:20px;}
    footer #copyright{text-align: center;}
    footer #copyright select{margin-bottom:20px;}
}